<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diskin.alon.visuals.photos.presentation">

    <application>
        <activity
            android:name="com.diskin.alon.visuals.catalog.presentation.controller.PictureViewerActivity"
            android:label="@string/picture_detail_toolbar_title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.MediaDetailActivityTheme" />

        <activity
            android:name="com.diskin.alon.visuals.catalog.presentation.controller.VideoDetailActivity"
            android:label="@string/activity_video_detail_label"
            android:theme="@style/AppTheme.NoActionBar.MediaDetailActivityTheme" />
    </application>

</manifest>