<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diskin.alon.visuals.videos.presentation">

    <application>
        <activity
            android:name=".controller.VideoDetailActivity"
            android:label="@string/activity_video_detail_label"
            android:theme="@style/AppTheme.NoActionBar.MediaDetailActivityTheme" />
    </application>

</manifest>