<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diskin.alon.visuals.settings.presentation">

    <application>
        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/settings_label"/>
    </application>

</manifest>